@tailwind base;
@tailwind components;
@tailwind utilities;

/* override next-video default styles */
:root {
  --media-object-fit: cover;
}

:host {
    --media-icon-color: black;
}

::part(center),
[part~="center"] {
  background: #fff;
}

::part(center),
[part~="center"] svg path {
  fill: red !important;
}

::part(controller) {
  border-radius: 2rem;
}

::part(video),
[part~="video"] {
  border-radius: 2rem;
}

.next-video-container img {
  border-radius: 2rem;
}
/* Theme */
.dark {
  background: #05192c;
}

.light {
  background: #fff;
}
.max-content-with {
  max-width: 120rem;
}


@layer components {
  .text-block {
    @apply max-w-full md:max-w-72 2xl:max-w-md
  }

  .headline {
    @apply text-2xl md:text-3xl 2xl:text-4xl
  }

  .normal-text {
    @apply text-xl md:text-xl 2xl:text-2xl
  }

  .headlineXl {
    @apply text-5xl md:text-7xl 2xl:text-9xl font-bold
  }
}