@tailwind base;
@tailwind components;
@tailwind utilities;

/* override next-video default styles  --- Start*/
:root {
  --media-object-fit: cover;
}

:host(:not([audio])) media-control-bar[part~="bottom"]::before {
  border-radius: 1rem;
}
::part(center) {
  background: #fff;
}

::part(controller) {
  border-radius: 1rem;
}

::part(video),
[part~="video"] {
  border-radius: 1rem;
}

.next-video-container img {
  border-radius: 1rem;
}

/* override next-video default styles --- End */

/* Theme */
.dark {
  background: #05192c;
}

.light {
  background: #fff;
}

@layer components {
  .text-block {
    @apply max-w-full md:max-w-sm 2xl:max-w-md;
  }

  .headline {
    @apply text-2xl md:text-3xl 2xl:text-4xl;
  }

  .normal-text {
    @apply text-xl md:text-xl 2xl:text-2xl;
  }

  .headlineXl {
    @apply text-5xl md:text-7xl 2xl:text-9xl font-bold;
  }
}
